<div id="__layout">
    <div class="site">
        <div class="site__inner"></div></div></div>
            <header class="page-header">
                <div class="page-header__logo">
                    <a href="/" class="page-header__logo-link main-nav__link--active">
                        <span class="page-header__logo-row">Scam</span> 
                        <span class="page-header__logo-row">Bro</span>
                    </a>
                </div> 
                <nav class="main-nav">
                    <ul class="main-nav__list">
                        <li class="main-nav__list-item">
                           <%= link_to "Settings",  edit_user_registration_path(current_user), class: "main-nav__link" %>
                        </li>
                        <li class="main-nav__list-item">
                           <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "main-nav__link"%>
                        </li>
                    </ul>
                </nav> 
                <div class="page-header__title">
                    <span class="branch">
                        <%= @user.name %>
                    </span>
                </div>
            </header>
        </div>
    </div>
</div>